.AuthPage {
    background-image: url('https://i.imgur.com/WDg4U32.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 160vh; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black; 
  }