
.new-game-form {
    background-color: var(--gray-1); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    text-align: center;
    color: var(--text-dark);
  }
  
  .new-game-form h2 {
    color: var(--emerald); 
    margin-bottom: 20px;
  }
  
  .new-game-form input,
  .new-game-form select {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 2px solid var(--gray-3); 
    border-radius: 5px;
    font-size: 18px;
  }
  
  .new-game-form select {
    background-color: var(--white); 
  }
  
  .new-game-form .add-game-button {
    background-color: var(--emerald);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
  }
  
  .new-game-form .add-game-button:hover {
    background-color: #006400; 
  }

  .game-controller-image {
    height: 200px;
    width: 200px;
}
