.graphic {
  height: 350px;
  width: 350px;
}

.games-page {
  background-image: url(https://i.imgur.com/MsMNK3A.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; 
  overflow: hidden; 
}

.games-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-family: Arial, sans-serif;
}

.games-table th {
  background-color: var(--emerald);
  color: #fff;
  padding: 12px;
  text-align: left;
  border: 1px solid #007BFF;
}

.games-table th,
.games-table td {
  border: 1px solid #ccc;
  padding: 10px;
}

.no-games {
  text-align: center;
  margin-top: 20px;
}


