.board {
    display: flex;
    border: 7.5px outset rgb(180, 178, 178);
    background-color: white;
    z-index: 2;
    justify-self: end;
}

.game-controller-image {
    height: 200px;
    width: 200px;
}
