
.edit-game-container {
    background-color: var(--gray-1);
    padding: 2vmin;
    border-radius: 1vmin;
    margin: 2vmin;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  
  .edit-game-title {
    font-size: 3vmin;
    color: var(--emerald);
    text-align: center;
  }
  

  .edit-form {
    margin-top: 2vmin;
  }
  
  
  .label {
    font-size: 2.5vmin;
    color: var(--text-dark);
  }
  

  .input {
    padding: 1vmin;
    font-size: 2vmin;
    border: .1vmin solid var(--gray-3); 
    border-radius: .5vmin;
    color: var(--text-dark);
    background-image: none !important;
    outline: none;
    margin-top: 1vmin;
  }
  

  .update-button {
    margin-top: 2vmin;
    padding: 1vmin 2vmin;
    background-color: var(--emerald);
    color: var(--white);
    font-size: 2vmin;
    font-weight: bold;
    border: .1vmin solid var(--gray-3); /* Even lighter grey */
    border-radius: .5vmin;
    cursor: pointer;
    outline: none;
  }

  .loading-message {
    font-size: 2vmin;
    color: var(--text-light);
    text-align: center;
    margin-top: 2vmin;
  }
  
