.game-card {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
}

.game-card td {
  padding: 8px;
}


.game-card:hover {
  background-color: var(--emerald);
  transition: background-color 0.3s ease; 
}


.game-card a {
  text-decoration: none;
  color: #006400;
  font-weight: bold;
  font-size: 2vmin;
  margin-right: 1vmin;
}


.game-card a:hover {
  color: #006400;
  text-decoration: underline;
}