
.game-details-container {
    background-color: var(--gray-1);
    padding: 2vmin;
    border-radius: 1vmin;
    margin: 2vmin;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  

  .game-title {
    font-size: 3vmin;
    color: var(--emerald);
    text-align: center;
  }
  

  .game-info {
    margin-top: 2vmin;
    padding: 2vmin;
    background-color: var(--gray-2);
    border-radius: 1vmin;
    text-align: center;
  }
  
  .game-name {
    font-size: 2.5vmin;
    color: var(--text-dark);
  }
  
  .game-studio {
    font-size: 2vmin;
    color: var(--emerald);
  }
  

  .review-form {
    margin-top: 2vmin;
  }
  
  
  .reviews-section {
    margin-top: 2vmin;
    padding: 2vmin;
    background-color: var(--gray-2);
    border-radius: 1vmin;
    text-align: center;
  }
  
  .reviews-title {
    font-size: 2.5vmin;
    color: var(--text-dark);
  }
  
  .reviews-list {
    list-style-type: none;
    font-size: 24px;
    padding: 0;
  }
  
  .review-item {
    margin-top: 1vmin;
    padding: 1vmin;
    background-color: var(--gray-3);
    border-radius: 1vmin;
    white-space: pre-wrap !important;
  }
  
  .review-text {
    font-size: 3vmin;
    color: var(--text-dark);
    white-space: pre-wrap !important;
    word-wrap: break-word; 
  }
  
  .review-score {
    font-size: 2vmin;
    color: var(--emerald);
  }
  

  .no-reviews {
    font-size: 2vmin;
    color: var(--text-light);
    text-align: center;
    margin-top: 2vmin;
  }
  

  .loading-message {
    font-size: 2vmin;
    color: var(--text-light);
    text-align: center;
    margin-top: 2vmin;
  }

.no-reviews {
    font-size: 30px;
}

.dropdown-container {
    position: relative;
    margin: 10px;
    width: 100%;
  }
  
  .dropdown-container select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
  }
  
 
  .dropdown-container::after {
    content: '\25BC'; 
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
  }
  
  
  .dropdown-container select:focus,
  .dropdown-container select:hover {
    border-color: var(--emerald);
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.2);
  }

  .overall-score-container {
    text-align: center;
    margin: 20px 0;
  }
  
 
  .overall-score {
    font-size: 2rem; 
    color: var(--emerald); 
    display: inline-block;
    padding: 10px 20px; 
    border-radius: 50%; 
    border: 2px solid var(--emerald); 
  }

  .even-item {
    background-color: var(--emerald); 
    color: white; 
  }

  .game-image {
    height: 40vmin;
    width: 40vmin;
  }

.green {
    color: green;
    font-weight: bold;
  }
  
  .red {
    color: red;
    font-weight: bold;
  }


